@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@400;500&family=Rubik:wght@300;400&display=swap");
/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Rubik', sans-serif;
*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit !important;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:focus {
  outline: none;
}
a:active {
  color: inherit;
}

img {
  display: block;
}

h2 {
  margin: 0;
}

* {
  box-sizing: border-box;
  user-select: none;
}

p {
  margin: 0;
}

button:focus {
  outline: none;
}

.wrapper {
  background-color: #2A8086;
  box-shadow: 2px -5px 26px 2px rgba(0, 0, 0, 0.28);
  position: relative;
}

.content-area-wrapper {
  max-width: 1480px;
  margin: 0 auto;
  position: relative;
}

.header-area {
  display: flex;
  min-height: 110px;
  min-width: 100%;
  text-transform: uppercase;
}

.header-area_font_basic {
  color: #C5E1E5;
  font-size: 18px;
}

.header-area__list {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.header-area__nav {
  flex-grow: 1;
}

.header-area__nav-list-item:not(:first-child) {
  margin-left: 50px;
}

.header-area__nav-list-item_active {
  border-bottom: solid 2px #C5E1E5;
}

.header-area__login-list-item:first-child {
  margin: 0 50px;
}
.header-area__login-list-item:not(:first-child) {
  margin-left: 25px;
}

.header-area__nav-list-item_font_roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

.header-area__login-list-item_font_roboto {
  font-family: "Roboto", sans-serif;
}

.header-area__login-list-item_border {
  border: solid 1px #C5E1E5;
  border-radius: 30px;
  padding: 15px;
}

.watch-your-favorite {
  padding-top: 50px;
  min-height: 800px;
  background-image: url("img/header/your_favorite_background.png");
  background-size: cover;
  background-position: bottom center;
}

.watch-your-favorite__link {
  display: inline-block;
}

.watch-your-favorite__description {
  padding: 20px;
}

.watch-your-favorite__flexbox {
  display: flex;
}

.watch-your-favorite_font_basic {
  font-family: "Rubik", sans-serif;
  color: #F3F7F8;
}

.watch-your-favorite__pre-heading {
  font-size: 72px;
  margin-top: 50px;
  font-weight: 300;
}

.watch-your-favorite__heading {
  font-size: 64px;
  font-weight: 500;
}

.watch-your-favorite__take-care {
  margin-top: 35px;
  max-width: 480px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.watch-your-favorite__button {
  margin-top: 100px;
  padding: 17px 85px;
  text-transform: uppercase;
  box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
  background-color: white;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.watch-your-favorite__button_font {
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  color: #0D444D;
}

.watch-your-favorite__animal {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 800px;
  min-height: 666px;
  background-image: linear-gradient(rgba(185, 213, 217, 0.2), rgba(185, 213, 217, 0.2)), url(img/header/panda.jpg);
  background-position: -250px -25px;
  clip-path: url(#path);
}

.how-it-works {
  margin-top: 60px;
}

.how-it-works__description {
  position: absolute;
  text-transform: uppercase;
  top: -105%;
  padding: 20px;
}

.how-it-works__description_font {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #0D444D;
}

.how-it-works__icons-list {
  display: flex;
  justify-content: space-around;
}

.how-it-works__list-item {
  display: inherit;
  align-items: center;
  position: relative;
  justify-content: center;
  min-width: 145px;
  min-height: 145px;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  background-color: white;
}
.how-it-works__list-item:first-child::after {
  content: "Keep an eye on your favorite animals online";
  position: absolute;
  top: 110%;
  min-width: 200%;
}
.how-it-works__list-item:nth-child(2)::after {
  content: "Become a part of the community";
  position: absolute;
  top: 110%;
  min-width: 200%;
}
.how-it-works__list-item:last-child::after {
  content: "Support animals with the donations";
  position: absolute;
  top: 110%;
  min-width: 200%;
}

.how-it-works__list-item_font {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #0D444D;
  line-height: 20px;
  text-align: center;
}

.how-it-works__bg {
  position: relative;
  margin-top: 170px;
  background-image: url(img/how_it_works/background.png);
  background-size: cover;
  background-position: center center;
  min-height: 525px;
}

.how-it-works__bamboo {
  background-image: url(img/how_it_works/Bamboo.svg);
  background-size: contain;
  position: absolute;
}

.how-it-works__tree {
  background-image: url(img/how_it_works/tree.svg);
  background-size: contain;
  position: absolute;
}

.how-it-works__panda {
  background-image: url(img/how_it_works/panda_tree.svg);
  background-size: contain;
  position: absolute;
}

.how-it-works__bamboo_size_lesser {
  width: 115px;
  height: 221px;
  top: 10%;
}

.how-it-works__tree_size_bigger {
  width: 130px;
  height: 230px;
  top: 10%;
  left: 10%;
}
.how-it-works__tree_size_bigger:last-child {
  left: 85%;
  top: 30%;
}

.how-it-works__tree_size_lesser {
  width: 90px;
  height: 160px;
  left: 40%;
  top: 20%;
}

.how-it-works__panda_size_bigger {
  width: 240px;
  height: 283px;
  left: 50%;
  top: 15%;
}

.pets-in-zoo {
  margin-top: 50px;
}

.pets-in-zoo__top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pets-in-zoo__description {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  color: #0D444D;
  text-transform: uppercase;
}

.pets-in-zoo__button {
  display: flex;
  justify-content: space-around;
  padding: 15px 30px;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  color: #19707D;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: solid 2px #19707D;
  border-radius: 30px;
}

.pets-in-zoo__hearth {
  display: flex;
  margin: 0 10px;
}

.pets-in-zoo__slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  max-width: 1560px;
  margin-top: 80px;
}

.pets-in-zoo__slider_font {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #909090;
}

.pets-in-zoo__slider-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 32%;
  min-height: 364px;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-left: 19px;
  margin-top: 19px;
}

.pets-in-zoo__slider-item_animal {
  display: inline-block;
  margin-top: 20px;
  min-width: 230px;
  min-height: 222px;
  background-repeat: no-repeat;
  clip-path: url(#animal-path);
}

.pets-in-zoo__animal-description {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-grow: 1;
  border-top: solid 1px #E5EAEB;
  margin: 0 auto;
}

.pets-in-zoo__heading {
  font-size: 24px;
  font-weight: 500;
  color: #2D2D2D;
  margin: 10px 0;
}

.pets-in-zoo__slider-item_animal_panda {
  background-image: url(img/slider/slider_item_panda.jpg);
}

.pets-in-zoo__slider-item_animal_gorilla {
  background-image: url(img/slider/slider_item_gorilla.jpg);
}

.pets-in-zoo__slider-item_animal_eagle {
  background-image: url(img/slider/slider_item_eagle.jpg);
}

.pets-in-zoo__slider-item_animal_aligator {
  background-image: url(img/slider/slider_item_aligator.jpg);
}

.pets-in-zoo__slider-item_animal_elephant {
  background-image: url(img/slider/slider_item_elephant.jpg);
}

.pets-in-zoo__slider-item_animal_lemurs {
  background-image: url(img/slider/slider_item_lemur.jpg);
}

.pets-in-zoo__description-inner {
  margin-left: 30px;
}

.pets-in-zoo__screen-icon {
  margin-right: 30px;
}

.pets-in-zoo__navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  position: absolute;
  left: 103%;
}

.pets-in-zoo__nav-button {
  cursor: pointer;
}
.pets-in-zoo__nav-button:last-child {
  margin-top: 15px;
}

.pets-in-zoo__penguin-icon {
  position: absolute;
  align-self: flex-end;
}

.pay-and-feed {
  margin-top: 100px;
  background-image: url(img/pay_and_feed/background.png);
  min-height: 564px;
  position: relative;
}

.pay-and-feed__description {
  min-height: 564px;
}

.pay-and-feed__heading {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  color: #C5E1E5;
  position: absolute;
  top: 15%;
  vertical-align: middle;
  padding: 20px;
}

.pay-and-feed__button {
  position: absolute;
  left: 75%;
  top: 15%;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  padding: 12px 70px;
  filter: drop-shadow(0px 2px 20px rgba(185, 213, 217, 0.6));
  background: #C5E1E5;
  border-radius: 100px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0D444D;
  border: none;
}

.pay-and-feed__bigger-tree {
  top: 22%;
  left: 0%;
  width: 130px;
  height: 230px;
}

.pay-and-feed__lesser-tree {
  top: 5%;
  left: 62%;
  width: 103px;
  height: 180px;
}

.pay-and-feed__bamboo {
  width: 116px;
  height: 221px;
  left: 91%;
  top: 37%;
}

.pay-and-feed__list-item {
  font-family: "Roboto", sans-serif;
  color: #C5E1E5;
  font-size: 14px;
  z-index: 2;
}
.pay-and-feed__list-item:not(:first-child) {
  margin-left: 50px;
}
.pay-and-feed__list-item:first-child::after {
  content: "You donate to your favourite animals";
}
.pay-and-feed__list-item:nth-child(3)::after {
  content: "Zoo keepers feed animals with their favourite food";
  position: absolute;
  top: 110%;
  min-width: 250%;
}
.pay-and-feed__list-item:last-child::after {
  content: "Animals are healthy and happy";
}

.pay-and-feed__donate-description {
  position: absolute;
  top: 40%;
  left: 5%;
  align-items: center;
}

.feedback-area {
  margin-top: 115px;
  font-family: "Roboto", sans-serif;
}

.feedback-area__description {
  display: flex;
  justify-content: space-between;
}

.feedback-area__heading {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #2D2D2D;
  font-weight: 400;
}

.feedback-area__button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  width: 255px;
  text-transform: uppercase;
  border: 1.5px solid #19707D;
  background-color: transparent;
  border-radius: 100px;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  color: #19707D;
  letter-spacing: 2px;
}

.feedback-area__icon {
  margin-left: 5px;
}

.feedback-area__user-message-area {
  margin-top: 50px;
  display: flex;
}

.feedback-area__user-message:not(:first-child) {
  margin-left: 20px;
}
.feedback-area__user-message::after {
  content: attr(data-user-info);
  position: absolute;
  top: 88%;
  margin-left: 100px;
}

.feedback-area__user-message-inner {
  min-height: 180px;
  max-width: 480px;
  box-shadow: 0px 2px 50px rgba(185, 213, 217, 0.6);
  border-radius: 10px;
  position: relative;
}
.feedback-area__user-message-inner::after {
  content: "";
  border: 15px solid transparent;
  border-top: 15px solid white;
  position: absolute;
  top: 100%;
  left: 15%;
}

.feedback-area__message-date {
  padding-top: 30px;
  display: block;
  font-size: 14px;
  color: #B2B2B2;
  width: 80%;
  margin: 0 auto;
}

.feedback-area__feedback {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: italic;
  color: #2D2D2D;
  max-width: 80%;
  margin: 0 auto;
  padding-top: 10px;
}

.feedback-area_author {
  display: block;
  margin-left: 15px;
  margin-top: 15px;
}

.bottom-slider {
  margin-top: 100px;
}

.bottom-slider__description {
  font-size: 24px;
  font-family: "Rubik", sans-serif;
  line-height: 28.44px;
  color: #0D444D;
  text-transform: uppercase;
  font-weight: 400;
}

.bottom-slider__list {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}

.bottom-slider__item {
  width: 76px;
  height: 76px;
  background-size: contain;
}
.bottom-slider__item:not(:last-child) {
  clip-path: url(#path1);
}

.bottom-slider__item_panda {
  background-image: url(img/slider/slider_item_panda.jpg);
}

.bottom-slider__item_gorilla {
  background-image: url(img/slider/slider_item_gorilla.jpg);
}

.bottom-slider__item_eagle {
  background-image: url(img/slider/slider_item_eagle.jpg);
}

.bottom-slider__item_aligator {
  background-image: url(img/slider/slider_item_aligator.jpg);
}

.bottom-slider__item_elephant {
  background-image: url(img/slider/slider_item_elephant.jpg);
}

.bottom-slider__item_lemur {
  background-image: url(img/slider/slider_item_lemur.jpg);
}

.bottom-slider__link {
  display: block;
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  align-items: center;
  min-height: 200px;
  margin-top: 100px;
  background-color: #196469;
  color: #C5E1E5;
  text-transform: uppercase;
}

.footer__inner {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
}

.footer__designer {
  text-transform: uppercase;
  line-height: 18.75px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
}

.remove {
  position: absolute;
  left: -100%;
}

.video-area {
  display: flex;
}

.video-area__inner {
  max-width: 1325px;
  margin-top: 70px;
  margin-left: 70px;
  flex-grow: 1;
}

.video-area__animal-list {
  flex-direction: column;
}

.video-area__list-item:not(:first-child) {
  margin-top: 90px;
}

.video-area__animal-buttons {
  display: flex;
}

.clip {
  clip-path: url(#path1);
}

.video-area__heading {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}

.video-area__additional-description {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  margin-top: 40px;
}

.video-area__description-icons {
  display: flex;
  justify-content: space-between;
}

.video-area__icons {
  display: flex;
}

.video-area__icon {
  cursor: pointer;
}
.video-area__icon:last-child {
  margin-left: 35px;
}

.video-area__iframe {
  width: 100%;
  min-height: 604px;
  border-radius: 30px;
}

.video-area__side-cameras {
  margin-top: 55px;
}

.video-area__side-video {
  width: 380px;
  height: 240px;
  position: relative;
  border-radius: 20px;
}
.video-area__side-video::after {
  content: "LIVE";
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 65px;
  height: 30px;
  position: absolute;
  top: 10%;
  left: 10%;
}

.video-area__side-cameras-description {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  color: #2D2D2D;
}

.video-area__slider {
  display: flex;
  align-items: center;
}

.margin {
  margin-left: 30px;
}

.info {
  margin-top: 100px;
  display: flex;
  font-family: "Roboto", sans-serif;
  color: #0D444D;
}

.info__left {
  margin-left: 100px;
}

.info__right {
  max-width: 520px;
}

.info__heading {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}

.info__upper {
  font-size: 16px;
}

.info__lower {
  margin-top: 8px;
  font-size: 14px;
  line-height: 20px;
}

.info__block {
  margin-top: 30px;
}

.underline {
  text-decoration: underline;
}

.info_left-description {
  margin-top: 30px;
  position: relative;
}
.info_left-description::before {
  content: "";
  position: absolute;
  width: 12.36px;
  height: 25px;
  background: #0D444D;
  transform: matrix(0.5, 0.02, 0.02, -1, 0, 0) rotate(30deg);
  border-radius: 120% 0;
  top: -25px;
  left: -25px;
}

.donate {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 410px;
  margin-top: 100px;
  background-image: url(img/donate_bg.png);
  background-size: cover;
  background-position: 0 60px;
  background-repeat: no-repeat;
}

.donate__button {
  top: 75%;
  left: 40%;
}

.donate__tree:first-child {
  top: 35%;
  left: 85%;
}

.donate__tree {
  left: 20%;
}

.donate__panda {
  top: 0;
  left: 50%;
}

.additional-footer {
  margin-top: 0;
}

.map {
  margin-top: 25px;
  position: relative;
}

.map__list-item {
  position: absolute;
}

.map__list-item_aligator {
  top: 50%;
  left: 22%;
}

.map__list-item_eagle {
  top: 43%;
  left: 10%;
}

.map__list-item_gorilla {
  top: 60%;
  left: 46%;
}

.map__list-item_panda {
  top: 45%;
  left: 69%;
}

.map__buttons {
  display: flex;
  position: absolute;
  top: 95%;
  left: 100%;
}

.map__button {
  cursor: pointer;
}
.map__button:last-child {
  margin-left: 10px;
}

.map__descripiton {
  font-size: 24px;
  text-transform: uppercase;
  color: #C5E1E5;
  font-family: "Rubik", sans-serif;
}

.map__svg {
  margin-top: 55px;
  max-width: 1420px;
  max-height: 915px;
}

.map__footer {
  margin-top: 0;
}

/*# sourceMappingURL=stylesheets.css.map */
