$font-white: #C5E1E5;
$hero-text: #F3F7F8;
$bg-green: #2A8086;
$button-black: #0D444D;
$button-green: #19707D;
$bamboo-tree: #216E7A;
$font-gray: #909090;
$font-black: #2D2D2D;
$border-gray: #E5EAEB;
$white: #C5E1E5;
$footer-bg: #196469;